:root {
  --paleBlue: hsl(243, 100%, 93%);
  --greyBlue: hsl(229, 7%, 55%);
  --darkBlue: hsl(228, 56%, 26%);
  --veryDarkBlue: hsl(229, 57%, 11%);

  --gradient: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--veryDarkBlue);
  background-image: url(../../images/bg-desktop.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    .cards > * {
      margin: 0px 15px;
    }
    .card-1 {
      background-color: var(--darkBlue);
      border-radius: 15px 90px 15px 15px;
      width: auto;
      min-width: 325px;
      padding: 30px 35px;
      padding-right: 15px;
      .icons {
        display: flex;
        align-items: center;
        padding: 30px 0 0 0;
        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          padding: 0.7rem;
          margin: 0 0.3rem;
          border-radius: 10px;
          text-align: center;
          background-color: rgba(#000000, 0.5);
        }
      }
    }
    .card-2 {
      background-color: var(--darkBlue);
      color: var(--paleBlue);
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 768px) {
  .container {
    background-image: url(../../images/bg-mobile.png);
    background-position: center;
    background-size: cover;

    .cards {
      flex-direction: column;
      justify-content: center;
      position: relative;
      width: 90%;

      .card-2 {
        margin-top: 1rem;
      }
    }
  }

  .container > * {
    margin: 10px 25px;
  }
}
