:root {
  --paleBlue: hsl(243, 100%, 93%);
  --greyBlue: hsl(229, 7%, 55%);
  --darkBlue: hsl(228, 56%, 26%);
  --veryDarkBlue: hsl(229, 57%, 11%);
  --gradient: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--veryDarkBlue);
  background-image: url(../../images/bg-desktop.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.container .cards > * {
  margin: 0px 15px;
}

.container .card-1 {
  background-color: var(--darkBlue);
  border-radius: 15px 90px 15px 15px;
  width: auto;
  min-width: 325px;
  padding: 30px 35px;
  padding-right: 15px;
  margin-top: -5%;
}

.container .card-1 .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0 0 0;
}

.container .card-1 .icons .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  padding: 0.7rem;
  margin: 0 0.3rem;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.container .card-2 {
  background-color: var(--darkBlue);
  color: var(--paleBlue);
  padding: 20px 35px;
  font-weight: 400;
  position: relative;
  border-radius: 15px;
}

.container .card-2 .popUp {
  position: absolute;
  background-color: #ffffff;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  top: -30%;
  left: 60%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.75rem;
  color: #000000;
}

.container .card-2 .popUp span {
  padding-left: 5px;
  font-size: 0.75rem;
  color: #cecece;
  font-weight: bold;
}

.container .card-2 .popUp::before {
  content: "";
  position: absolute;
  border-right: 20px solid white;
  border-top: 20px solid white;
  border-left: 20px solid transparent;
  border-bottom: 20px solid transparent;
  bottom: -15px;
  right: 0px;
}

.container .card-2 .dataBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 10px;
  border-radius: 20px;
  padding: 2px;
  background-color: var(--veryDarkBlue);
}

.container .card-2 .dataBar .dataValue {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: inherit;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffa399), to(#ff4d97));
  background-image: linear-gradient(to right, #ffa399, #ff4d97);
  width: 80%;
  border-radius: 20px;
}

.container .card-2 .dataBar .whiteDot {
  background-color: #ffffff;
  border-radius: 25px;
  height: inherit;
  height: 0.75rem;
  width: 0.75rem;
}

.container .card-2 .label {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .card-2 .label .label-text {
  font-weight: bold;
  font-size: 0.75rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media only screen and (max-width: 768px) {
  body {
    background-image: url(../../images/bg-mobile.png);
    background-position: center;
    background-size: cover;
  }
  body .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    width: 100%;
  }
  body .container .card-2 {
    margin-top: 1rem;
    padding-bottom: 40px;
  }
  body .container .card-2 .dataBar {
    width: auto;
  }
  body .container .card-2 .popUp {
    top: 75%;
    left: 25%;
  }
  body .container .card-2 .popUp::before {
    display: none;
  }
  .container > * {
    margin: 10px 25px;
  }
}
/*# sourceMappingURL=styles.css.map */