:root {
  --paleBlue: hsl(243, 100%, 93%);
  --greyBlue: hsl(229, 7%, 55%);
  --darkBlue: hsl(228, 56%, 26%);
  --veryDarkBlue: hsl(229, 57%, 11%);

  --gradient: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--veryDarkBlue);
  background-image: url(../../images/bg-desktop.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;

  .card-1 {
    background-color: var(--darkBlue);
    border-radius: 10px 90px 10px 10px;
    width: auto;
    min-width: 325px;
    padding: 30px 35px;
    padding-right: 15px;
    margin-top: -5%;
    .icons {
      display: flex;
      align-items: center;
      padding: 30px 0 0 0;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        padding: 0.7rem;
        margin: 0 0.3rem;
        border-radius: 10px;
        text-align: center;
        background-color: rgba(#000000, 0.5);
      }
    }
  }
  .card-2 {
    background-color: var(--darkBlue);
    color: var(--paleBlue);
    padding: 20px 35px;
    font-weight: 400;
    position: relative;
    border-radius: 10px;
    p {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .popUp {
      position: absolute;
      background-color: #ffffff;
      border-radius: 10px;
      display: flex;
      align-items: center;
      padding: 15px 20px;
      top: -30%;
      left: 60%;
      width: fit-content;
      font-size: 1.85rem;
      color: #000000;

      span {
        padding-left: 0.5rem;
        font-size: 0.85rem;
        color: darkgray;
        font-weight: bold;
      }
      &::before {
        content: "";
        position: absolute;
        border-right: 20px solid white;
        border-top: 20px solid white;
        border-left: 20px solid transparent;
        border-bottom: 20px solid transparent;
        bottom: -15px;
        right: 0px;
      }
    }
    .dataBar {
      display: flex;
      align-items: center;
      width: 400px;
      height: 0.75rem;
      border-radius: 20px;
      padding: 2px;
      filter: back;
      background-color: rgba($color: #0c122c, $alpha: 0.6);

      .dataValue {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        height: inherit;
        background-image: var(--gradient);
        width: 80%;
        border-radius: 20px;
      }
      .whiteDot {
        background-color: #ffffff;
        border-radius: 25px;
        height: inherit;
        height: 0.75rem;
        width: 0.75rem;
      }
    }
    .label {
      display: flex;
      justify-content: space-between;
      .label-text {
        font-weight: bold;
        font-size: 0.75rem;
      }
    }
  }
}
.container > * {
  margin: 0px 15px;
}

.attribution {
  position: absolute;
  top: 95%;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 768px) {
  body {
    background-image: url(../../images/bg-mobile.png);
    background-position: center;
    background-size: cover;

    .container {
      flex-direction: column;
      justify-content: center;
      position: relative;
      width: 100%;

      .card-2 {
        margin-top: 1rem;
        padding-bottom: 40px;

        p {
          text-align: center;
        }

        .dataBar {
          width: auto;
        }

        .popUp {
          top: 75%;
          left: 25%;

          &::before {
            display: none;
          }
        }
      }
    }
  }

  .container > * {
    margin: 10px 25px;
  }
}
